<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <div class="pull-right">
          <%= link_to geocoder_path do %>
              <%= image_tag('refresh.png', size: '40x40')%>
          <% end %>
        </div>
        <h1>Geocoding Statistics</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <% nyc_data = @geocode_statistics.total_data %>
      <%= render partial: 'progress',
                 locals: {data: nyc_data, name: 'NYC Multiple Dwelling Registration Data'} %>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <% @geocode_statistics.per_neighbourhood_group.each do |neighbourhood_stats| %>
          <div class="col-md-4">
            <%= render partial: 'progress',
                       locals: {data: neighbourhood_stats[:stats],
                                name: neighbourhood_stats[:name]} %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>