<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>NYC Data</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <%= render 'filters' %>
  </div>
  <div class="col-lg-8">
    <div class="bs-component">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#table" data-toggle="tab">Table</a></li>
        <li><a href="#stats" data-toggle="tab">Stats</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="table">
          <%= render 'table' %>
        </div>
        <div class="tab-pane fade" id="stats">
          <%= render 'stats' %>
        </div>
      </div>
    </div>
  </div>
</div>