<div class="jumbotron">
  <h1>AirBnb</h1>
  <p>
    Founded in August of 2008 and based in San Francisco, California,
    Airbnb is a trusted community marketplace for people to list, discover,
    and book unique accommodations around the world — online or from a mobile phone or tablet.
    Whether an apartment for a night, a castle for a week, or a villa for a month,
    Airbnb connects people to unique travel experiences, at any price point,
    in more than 34,000 cities and 191 countries.
    And with world-class customer service and a growing community of users,
    Airbnb is the easiest way for people to monetize their extra space and showcase it to an audience of millions.
  </p>
  <%= link_to 'Visit the site', 'https://www.airbnb.com', class: 'btn btn-primary' %>
  <%= link_to 'Terms of Service', 'https://www.airbnb.com/terms/', class: 'btn btn-primary' %>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="well">
      <h2>Important bits:</h2>
      <p>
        "IF YOU CHOOSE TO CREATE A LISTING ON AIRBNB, YOU UNDERSTAND AND AGREE THAT YOUR RELATIONSHIP WITH AIRBNB IS LIMITED TO BEING A MEMBER AND AN INDEPENDENT, THIRD-PARTY CONTRACTOR, AND NOT AN EMPLOYEE, AGENT, JOINT VENTURER OR PARTNER OF AIRBNB FOR ANY REASON, AND YOU ACT EXCLUSIVELY ON YOUR OWN BEHALF AND FOR YOUR OWN BENEFIT, AND NOT ON BEHALF OF OR FOR THE BENEFIT OF AIRBNB. AIRBNB DOES NOT CONTROL, AND HAS NO RIGHT TO CONTROL, YOUR LISTING, YOUR OFFLINE ACTIVITIES ASSOCIATED WITH YOUR LISTING, OR ANY OTHER MATTERS RELATED TO ANY LISTING, THAT YOU PROVIDE. AS A MEMBER YOU AGREE NOT TO DO ANYTHING TO CREATE A FALSE IMPRESSION THAT YOU ARE ENDORSED BY, PARTNERING WITH, OR ACTING ON BEHALF OF OR FOR THE BENEFIT OF AIRBNB, INCLUDING BY INAPPROPRIATELY USING ANY AIRBNB INTELLECTUAL PROPERTY."
      </p>

    </div>
  </div>
</div>

