<footer>
  <div class="row footer">
    <div class="col-lg-12">
      <div class="text-center">
        <p>BnbAnalyzer 2016</p>
        <p>Graphs generated with <%= link_to 'Highcharts.js', 'http://www.highcharts.com' %></p>
        <p>Made in a few <a href="mailto:renmcoliver@gmail.com">Nights of Insomnia</a></p>
      </div>
    </div>
  </div>
</footer>
